{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="backgroud"></div>
    <div class="acceuil">
        <p>Lorem20</p>
    </div>
{% endblock %}
